@import "../CSS/parciales/variables"; 
@import "../CSS/parciales/reset"; 
@import "../CSS/parciales/header";
@import "../CSS/parciales/footer";
@import "../CSS/parciales/index";
@import "../CSS/parciales/menu.scss";
@import "../CSS/parciales/sobre.scss";
@import "../CSS/parciales/ordenar.scss";
@import "../CSS/parciales/equipo.scss";

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: rgb(145, 87, 1);
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

@media (max-width: 700px){
    header{
        flex-direction: column;
    }

    nav{
        padding: 10px 0px;
    }
}

@media(max-width:768px){
    .columns{
        grid-template-columns: repeat(2,1fr);
    }
}

@media(max-width:480px){
    .columns{
        grid-template-columns: repeat(1,1fr);
    }
}
